<!--
 File name = Dhruv Patel COMP229 Assignment1 
 Student Name = Dhruv Patel
 Student ID = 301292893
 Date = 9th February 2023
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- css section-->
  <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/@fortawesome/fontawesome-free/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="/Content/app.css" />
</head>
<body>